.currencyRate_container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.currencyRate_block {
    padding: 5px;
    width: 500px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.currencyRate_block:nth-child(even) {
    border-left: none;
}

.currencyRate {
    display: flex;
}

.currencyRate_text {
    width: 300px;
    font-size: 32px;
}

.currencyRate_rate {
    width: 300px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.abbreviation {
    color: limegreen;
}

@media screen and (max-width: 678px) {
    .currencyRate_container {
        flex-direction: column;
        align-items: center;
    }

    .currencyRate_block{
        margin-bottom: 20px;
        border-bottom: solid 2px black;
        border-top: solid 2px black;
        border-left: none;
        border-right: none;
    }
}
